@import "variables";

html,
body {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: $info-text-color;
    * {
        box-sizing: border-box;
    }
}
.body-mask {
    height: 100%;
    overflow-y: hidden;
}
@media (max-width: 768px) {
    body {
        font-size: 4vw;
    }
}
button {
    width: 10em;
    margin: 0;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: clamp(1em, 1vw, 1.2em);
    transition: all 0.3s;
    cursor: pointer;
}
img {
    width: 100%;
}
iframe {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
svg {
    fill: $secondary-color;
}
.container {
    width: 100%;
    max-width: 1440px;
    background: url(../assets/bg.png) no-repeat 0 1em;
    background-size: contain;
    * {
        position: relative;
        color: $secondary-color;
    }
}
.hero {
    width: 50%;
    margin: 1em auto 0;
}
.components-wrap {
    position: relative;
    margin-top: -3.5%;
}
.tabs-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    background-color: $secondary-color;
    width: 80%;
    margin: 0 auto;
    padding: 1em 1em 0;
    border-radius: 2em 2em 0 0;
    box-shadow: 0 1px 0 0 $secondary-color;
    .tab-btn {
        width: 100%;
        padding: 0.6em;
        border-radius: 1em;
        text-transform: uppercase;
        color: $primary-color;
        background-color: transparent;
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
    .active {
        background-color: $primary-color;
        color: $secondary-color;
    }
}

.add-btn-wrap {
    background-color: $secondary-color;
    padding: 1em 0;
    .category-content {
        display: none;
    }
    .active {
        display: grid !important;
    }
}
.choose-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .add-item {
        margin: 1em 0 1em;
        background-color: $button-color;
        padding: 0.5em;
        border-radius: 99em;
        text-transform: uppercase;
        font-size: 1em;
        &:hover {
            background-color: $button-hover-color;
        }
    }
    iframe {
        border: none;
        width: 100%;
    }
}
.show-preview-btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: $primary-color;
    align-items: center;
    writing-mode: vertical-rl;
    padding: 0.8em;
    border-radius: 0.8em 0 0 0.8em;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.8em;
    .arrow {
        width: 0.5em;
        img {
            width: 100%;
        }
    }
    &:hover {
        background-color: #000;
    }
}
.preview-wrap {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba($color: #000, $alpha: 0.5);

    .close-preview-btn {
        flex-grow: 0;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 1em;
        cursor: pointer;
        text-align: center;
        z-index: 10;
    }
    .toolbar {
        flex-grow: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        justify-content: center;
        margin: 2em auto 0;
        background-color: $primary-color;
        width: 80%;
        padding: 1em 1em 0;
        border-radius: 2em 2em 0 0;
        .tab-btn {
            width: 100%;
            padding: 0.6em;
            border-radius: 1em;
            text-transform: uppercase;
            color: $secondary-color;
            background-color: transparent;
            &:hover {
                background-color: $secondary-color;
                color: $primary-color;
            }
        }
        .active {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
    .iframe-wrap {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        background-color: $primary-color;
        z-index: 10;
    }
    .preview-iframe {
        flex-grow: 1;
        display: block;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
    }
    .render-btn {
        flex-grow: 0;
        display: block;
        margin: 1em auto 0;
        background-color: $button-color;
        font-size: 1em;
        padding: 0.5em;
        border-radius: 99em;
        &:hover {
            background-color: $button-hover-color;
        }
    }
}
.help-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 99em;
    background-color: $button-color;
    color: $secondary-color;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: $button-hover-color;
    }
}
@media (max-width: 768px) {
    .container {
        background-position: 50% 3em;
        background-size: 120%;
    }
    .hero {
        width: 80%;
    }
    .components-wrap {
        margin-top: -5.5%;
    }
    .tabs-wrap {
        width: 100%;
        gap: 0.5em;
        padding: 0.5em 0.5em 0;
        border-radius: 1em 1em 0 0;
        .tab-btn {
            border-radius: 1em;
        }
    }
    .preview-wrap {
        .toolbar {
            width: 100%;
            gap: 0.5em;
            padding: 0.5em 0.5em 0;
            border-radius: 1em 1em 0 0;
            margin: 3em auto 0;
            .tab-btn {
                border-radius: 1em;
            }
        }
    }
    .help-btn {
        width: 3em;
        height: 3em;
    }
}
